<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo"> Configuración de Productos </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="primary"  slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="subtitulo encabezado" >Ingrese Datos del Producto</h3>
  <ion-item>
    <ion-label class="normal" position="floating" >
        Nombre : 
    </ion-label>
    <ion-input class="normal" type="text" inputmode="">

    </ion-input>
  </ion-item>
 </ion-content>
