<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo"> Pet App </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="primary"  slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon *ngIf="uid.length" color="success"  slot="icon-only" name="person-circle"></ion-icon>
        <ion-icon *ngIf="!uid.length" color="danger"  slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let producto of articulos" >
    {{producto.nombre}}
  </ion-item>
</ion-content>